#header {
  background: #666;
  height: 62px;
  position: fixed;
  width: 100%;
  padding: 8px;
}
.hiraku-open-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display:none;
}


@media screen and (max-width: 767px) {
  .hiraku-open-btn {
    display:inline;
  }
}

@media screen and (max-width: 1180px) {
  .hiraku-open-btn {
    display:inline;
  }
}


.navtest{
  width: 10%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navtest {
    display:none;
  }
}

@media screen and (max-width: 1180px) {
  .navtest {
    display:none;
  }
}