@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700&display=swap");
body {
  font-family: "Lato", "Noto Sans JP", sans-serif !important;
}

.header-bg {
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  height: 100px;
  background: #3F51B5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px;
  opacity: 1;
  padding-left: 140px !important;
  padding-right: 140px !important;
}

@media screen and (max-width: 767px) {
  .header-bg {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media screen and (max-width: 1179px) {
  .header-bg {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

.navbar-toggler-icon {
  color: white;
}

.navlogo {
  top: 31px;
  left: 140px;
  width: 200px;
  height: 39px;
  background: transparent url("../img/logo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header-menu {
  width: 100%;
  max-width: 100%;
  justify-content: end;
  opacity: 1;
}

.header-menu li:hover {
  border-bottom: solid 3px red;
}

.nav-link {
  font: Regular 16px/26px Yu Gothic;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.nav-link:hover {
  color: gray;
}

.main-img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 700px;
  opacity: 1;
  backdrop-filter: blur(undefined);
  -we-webkit-backdrop-filter: blur(undefined) bkit-backdrop-fil;
  background: transparent url("../img/mainvisual.png") no-repeat center center/cover;
}

.main-img h1 {
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .main-img h1 {
    font-size: 55px;
  }
}

.main-img h2 {
  font-size: 38px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.main-img button {
  background: #3F51B5 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  font-size: 38px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.main-img button a {
  opacity: 1;
  font-size: 38px;
  letter-spacing: 0;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .main-img button a {
    font-size: 28px;
  }
}

.maintext {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 249px;
  z-index: 1;
  color: white;
}

.card-sec {
  top: 700px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #efefef 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 140px;
  padding-right: 120px;
}

@media screen and (max-width: 767px) {
  .card-sec {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 1179px) {
  .card-sec {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.card-title, .news-title {
  padding-top: 68px;
}

.card-title h1, .news-title h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
  margin-bottom: 44px;
}

.card-title hr, .news-title hr {
  border: 2px solid #3F51B5;
  opacity: 1;
  width: 76px;
  margin-bottom: 44px;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(17, 51, 72, 0.2);
  color: #3c3c3c;
  margin: 0 50px 50px 0;
  padding: 20px 20px 22px 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  width: calc(33.33333333% - 100px / 3);
  height: 355px;
  background: white 0% 0% no-repeat padding-box;
}

.item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1179px) {
  .item {
    width: calc(50% - 50px / 2);
    margin: 0 25px 25px 0;
  }
  .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .item {
    width: calc(100%);
    margin-right: 0;
    margin-bottom: 90px;
    height: 390px;
  }
}

.item-img {
  width: 100%;
  height: 161px;
  background: gray;
  margin-right: 0;
}

.item-text {
  word-wrap: break-word;
}

.item-text h2 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  color: #6F7579;
  opacity: 1;
}

.item-text p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  color: #6F7579;
  opacity: 1;
}

.news {
  top: 1830px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding-left: 140px;
  padding-right: 120px;
}

@media screen and (max-width: 767px) {
  .news {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.topic-title {
  padding-top: 68px;
}

.topic-title h1 {
  font: Bold 60px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
  margin-bottom: 44px;
}

.topic-title hr {
  border: 2px solid #3F51B5;
  opacity: 1;
  width: 76px;
  margin-bottom: 44px;
}

.news-left time, .lb2 a time, .lb3 a time {
  text-align: left;
  font: Regular 16px/26px Yu Gothic;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.news-left a, .lb2 a a, .lb3 a a {
  background: #666666;
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  opacity: 1;
  margin-left: 70px;
}

@media screen and (max-width: 1179px) {
  .news-left a, .lb2 a a, .lb3 a a {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .news-left a, .lb2 a a, .lb3 a a {
    margin-left: 15px;
  }
}

.news-left a:hover, .lb2 a a:hover, .lb3 a a:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .news-left, .lb2 a, .lb3 a {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1179px) {
  .news-left, .lb2 a, .lb3 a {
    margin-bottom: 20px;
  }
}

.news-border {
  border-bottom: 1px solid #707070;
  opacity: 1;
}

.lb2 a {
  background: #3F51B5;
}

.lb3 a {
  background: #E81919;
}

.news-more {
  text-align: center;
}

.news-more a {
  font: Bold 16px/26px Yu Gothic;
  letter-spacing: 0;
  color: #E81919;
  opacity: 1;
}

.price {
  top: 664px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding-left: 139px;
  padding-right: 139px;
  background: #efefef 0% 0% no-repeat padding-box;
  padding-bottom: 112px;
}

@media screen and (max-width: 767px) {
  .price {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1179px) {
  .price {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.price-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 1179px) {
  .price-item {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.price-left img {
  width: 360px;
  height: 300px;
}

@media screen and (max-width: 1179px) {
  .price-left {
    margin-bottom: 30px;
  }
}

table {
  border: 1px solid #707070;
  border-collapse: collapse;
}

table td {
  padding: 3px;
  width: 224px;
  height: 48px;
  border: 1px solid #707070;
  border-collapse: collapse;
}

table th {
  padding: 3px;
  width: 224px;
  height: 48px;
  border: 1px solid #707070;
  border-collapse: collapse;
}

.ro {
  width: 160px;
  background: #999999;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}

.co {
  background: #999999;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}

.tx {
  background: #FFFFFF;
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.price-text {
  padding-top: 30px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.map {
  top: 964px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding-left: 283px;
  padding-right: 283px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1179px) {
  .map {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .map {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.map-wrap {
  position: relative;
  width: 100%;
  padding-top: 50%;
  /* = height ÷ width × 100 */
  margin-bottom: 25px;
}

.map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 400px;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .map-text {
    width: 300px;
  }
}

.map-left {
  font-size: 16px;
  letter-spacing: 0;
  color: #333333;
  opacity: 0.5;
}

.map-light {
  font-size: 16px;
  letter-spacing: 0;
  color: #333333;
  opacity: 0.5;
}

.map-btn {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 136px;
}

.map-btn button {
  width: 300px;
  height: 56px;
  background: #3F51B5 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.map-btn button:hover {
  opacity: 0.8;
}

.map-btn a {
  font-size: 20px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
}

.map-btn a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.text-test, .text-contact {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.text-test:focus, .text-contact:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.textarea-text, .textarea-contact {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 100%;
}

.textarea-text:focus, .textarea-contact:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.radio-test, .radio-contact {
  display: none;
}

.radio-test + span, .radio-contact + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

.radio-test + span::before, .radio-contact + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.radio-test + span::after, .radio-contact + span::after {
  -webkit-transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 8px;
}

.radio-test:checked + span::after, .radio-contact:checked + span::after {
  opacity: 1;
}

.check-test, .check-pribacy {
  display: none;
}

.check-test + a, .check-pribacy + a {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

.check-test + a::before, .check-pribacy + a::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.check-test + a::after, .check-pribacy + a::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.32);
  border-left: 3px solid rgba(0, 0, 0, 0.32);
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}

.check-test:checked + a::after, .check-pribacy:checked + a::after {
  opacity: 1;
}

.select-test, .select-contact {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.select-test::-ms-expand, .select-contact::-ms-expand {
  display: none;
}

.select-test:focus, .select-contact:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.submit-test {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
}

.submit-test:hover,
.submit-test:focus {
  outline: none;
}

.submit-test::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.contact {
  top: 1258px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding-left: 283px;
  padding-right: 283px;
  background: #efefef 0% 0% no-repeat padding-box;
  padding-bottom: 112px;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .contact {
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contact-sec {
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 2px;
}

@media screen and (max-width: 1179px) {
  .contact-row {
    flex-direction: column;
  }
}

.contact-row h4 {
  font: Bold 18px/29px Yu Gothic;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.contact-row p {
  background: #E81919 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  font: Bold 14px/22px Yu Gothic;
  letter-spacing: 0;
  color: #FFFFFF;
  margin-bottom: 0;
  width: 45px;
  height: 22px;
}

.contact-right {
  width: calc(90% - 6rem);
}

@media screen and (max-width: 1179px) {
  .contact-right {
    width: 100%;
    height: 60px;
  }
}

.text-contact {
  height: 100%;
}

.select-contact {
  height: 100%;
}

.textarea-contact {
  height: 240px;
}

.contact-radio {
  text-align-last: left;
}

.contact-radio span {
  font: Regular 16px/26px Yu Gothic;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.contact-check {
  font: Regular 16px/26px Yu Gothic;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.contact-check input {
  width: 30px;
  height: 30px;
}

.contact-btn {
  margin-top: 30px;
  margin-bottom: 60px;
}

.contact-btn button {
  background: #3F51B5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px;
  border-radius: 12px;
  opacity: 1;
  width: 261px;
  height: 56px;
}

.contact-btn button:hover {
  opacity: 0.8;
}

.contact-btn a {
  font: Bold 22px/36px Yu Gothic;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
}

.contact-btn a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.contact-in {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1179px) {
  .contact-in {
    flex-direction: row;
  }
}

@media screen and (max-width: 1179px) {
  .contact-in-right {
    margin-left: 10px;
    margin-top: 3px;
  }
}

.contact-select {
  text-align-last: left;
}

@media screen and (max-width: 1179px) {
  .contact-select {
    height: 40px;
  }
  .contact-select h4 {
    margin-bottom: 0;
  }
}

.contact-area-lef {
  text-align-last: left;
}

@media screen and (max-width: 1179px) {
  .contact-area-lef {
    height: 40px;
  }
  .contact-area-lef h4 {
    margin-bottom: 0;
  }
}

.contact-area-right {
  height: 100%;
}

footer {
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 83px 152px 0 152px;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 60px 70px 0 100px;
  }
}

.footer-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1179px) {
  .footer-sec {
    flex-direction: column;
    text-align: center;
  }
}

.footer-sec p {
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.footer-inc {
  width: 33.33333%;
}

@media screen and (max-width: 1179px) {
  .footer-inc {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer-logo {
  width: 200px;
  height: 39px;
  background: transparent url("../img/logo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 30px;
}

@media screen and (max-width: 1179px) {
  .footer-logo {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.footer-nav {
  width: 33.33333%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1179px) {
  .footer-nav {
    width: 70%;
    margin: 0 auto 20px;
  }
}

.footer-nav a {
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.footer-sns {
  width: 33.33333%;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .footer-sns {
    width: 100%;
    margin-top: 15px;
  }
}

.footer-sns i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 20px;
}

.fa-facebook {
  color: #FFFFFF;
}

.fa-twitter {
  color: #FFFFFF;
}

.fa-instagram {
  color: #FFFFFF;
}

.copy-light {
  text-align: center;
  padding-bottom: 31px;
  padding-top: 91px;
}

@media screen and (max-width: 1179px) {
  .copy-light {
    padding-top: 35px;
  }
}

.copy-light p {
  font-size: 14px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.pagetop {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.pagetop a {
  display: block;
  text-decoration: none;
}

.pagetop:hover {
  opacity: 0.85;
}
