// import
@import "setting";
@import "maxin";

.header-sec{
  // padding-left: 345px;
  // padding-right: 394px;
  // padding-top: 31px;
  width: 100%;
  height: 648px;
  background: transparent url(../img/mv.png) 0% 0% no-repeat padding-box;
  
  position:  relative;
}

.header-in{
  // padding-left: 345px;
  // padding-right: 394px;
  padding-left: 21.5625rem;
  padding-right: 24.625rem;
  padding-top: 31px;
  padding-bottom: 30px;
  width:100%;
  background: #FFFFFF1A 0% 0% no-repeat padding-box;
}

.header-top{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  

  a{
    color:#3E3E3E;
    font-size: 16px;
  }
}



.header-text{

  width: 524px;
  height: 264px;

  position:  absolute;
  top: 220px;
  left: 733px;

  h1{
    font-size: 38px;
    color:#3E3E3E;  
    white-space: nowrap;
  }
  
  p{
    font-size: 18px;
    color:#3E3E3E;  
    margin-top: 40px;
  }
  
  button{
    width:280px;
    height:51px;
    background: #FFAA3B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-top: 40px;
    
    &:hover{
      opacity: 0.8;
    }
  }

  a{
    font-size: 18px;
    color: #FFFFFF;
  }
}