// import
@import "setting";
@import "maxin";

.qa-sec{
  widows: 100%;
  height: 1065px;
  background: transparent url('../img/sunyu-kim-1053375-unsplash.png') 0% 0% no-repeat padding-box;
  padding-top: 80px;
  position: relative;
}

.qa-title{
  text-align: center;
  h1{
    color: #3E3E3E;
    font-size: 36px;
    font-weight: bold;
  }
}

.qa-in{
  width: 616px;
  height: 770px;
  position: absolute;
  top: 215px;
  left: 658px;
}

.qa-col{
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
  padding: 22px 18px 18px 18px;
  margin-bottom: 40px;
}

.qa-ansewr{
  background: rgba(57, 99, 235, 0.2) 0% 0% no-repeat padding-box;
  height: 80px;
  border-radius: 7px;
  opacity: 1;
  margin-top: 21px;
  padding: 18px 14px;

  p{
    color: #3E3E3E;
    opacity: 1;
    font-size: 16px;
    line-height: 26px;
  }
}

.qa-col-in{
  display: flex;
  justify-content: space-between;
}

.qa-col-left{

  span{
    background: #3B69FF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 16px;
    letter-spacing: 0;
    color: #FFFFFF; 
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }

  h3{
    display: inline;
    letter-spacing: 0.4px;
    color: #3E3E3E;
    opacity: 1;
    font-size: 16px;
    margin-left: 10px;
  }
}

.qa-touch{
  cursor : pointer;
}
