// import
@import "setting";
@import "maxin";


.header-bg{
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  height: 100px;
  background: #3F51B5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px;
  opacity: 1;
  padding-left: 140px!important;
  padding-right: 140px!important;
  ;

  @include mq('sp'){
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  @include mq('tab'){
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

}

.navbar-toggler-icon{
  color:white;
}

.navlogo{
  top: 31px;
  left: 140px;
  width: 200px;
  height: 39px;
  background: transparent url($imgDir) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header-menu{
  // top: 40px;
  // left: 882px;
  // width: 344px;
  // height: 26px;
  width:100%;
  max-width: 100%;
  justify-content: end;
  opacity: 1;

  li{
    
    &:hover{
      border-bottom: solid 3px red;
    }
  }
}

.nav-link{
  // top: 40px;
  // left: 882px;
  // width: 35px;
  // height: 21px;
  // text-align: center;
  font: Regular 16px/26px Yu Gothic;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;


  &:hover{
    color: gray;
  }
}

.main-img{
top: 0px;
left: 0px;
width: 100%;
height: 700px;
opacity: 1;
backdrop-filter: blur(undefined);
-we-webkit-backdrop-filter: blur(undefined)bkit-backdrop-fil;
// background: transparent url($imgDir2) no-repeat center center / cover;
background: transparent url($imgDir2) center center / cover;
}

.main-img2{
top: 0px;
left: 0px;
width: 100%;
height: 700px;
opacity: 1;
backdrop-filter: blur(undefined);
-we-webkit-backdrop-filter: blur(undefined)bkit-backdrop-fil;
background: transparent url($imgDir) no-repeat center center / cover;
}



.maintext{
  // width: 100%;
  position: absolute;
  top:249px;
  left:309px;
  z-index: 1;
  color: white;
  margin: 0 auto;
  // text-transform: uppercase;
  // font-family: 'Playfair Display', serif;

  @include mq('tab'){
    // max-width:100%;
    left:150px;
  }

  @include mq('sp'){
    // max-width:100%;
    left:30px;
  }

  h1{
    // position: absolute;
    // top: 249px;
    // left: 309px;
    // width: 748px;
    // height: 87px;
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
    
    @include mq('sp') {
      font-size: 50px;
    }
    }
    
    h2{
    // position: absolute;
    // top: 348px;
    // left: 512px;
    // width: 342px;
    // height: 49px;
    // font: Bold 38px/61px Yu Gothic;
    font-size: 38px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
    }
    
    button{
    // position: absolute;
    // top: 479px;
    // left: 488px;
    // width: 390px;
    // height: 83px;
    background: #3F51B5 0% 0% no-repeat padding-box;
    // box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    // font: Bold 38px/61px Yu Gothic;
    font-size: 38px;
    letter-spacing: 0;
    color: #FFFFFF;
    
    a  {
      opacity: 1;
    // font: Bold 38px/61px Yu Gothic;
    font-size: 38px;
    
    letter-spacing: 0;
    color: #FFFFFF;
    
    @include mq('sp') {
      font-size: 28px;
    }
      }
    }

  
}


.swiper-container .swiper-slide {
  position: relative;
}
.swiper-container .swiper-slide .swiper-slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 3s ease 0s;
}
