// リンクから飛んだ時にヘッダーでずれる対処
#news{
  padding-top:100px;
  margin-top:-100px;
}
#card{
  padding-top:100px;
  // margin-top:-100px;
}
#price{
  padding-top:100px;
  // margin-top:-100px;
}
#map{
  padding-top:100px;
  margin-top:-100px;
}
#contact{
  padding-top:100px;
  margin-top:-100px;
}

