.price {
  top: 664px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding-left: 139px;
  padding-right: 139px;
  background: #efefef 0% 0% no-repeat padding-box;
  padding-bottom: 112px;
}

@media screen and (max-width: 767px) {
  .price {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1179px) {
  .price {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.price-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 1179px) {
  .price-item {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.price-left img {
  width: 360px;
  height: 300px;
}

@media screen and (max-width: 1179px) {
  .price-left {
    margin-bottom: 30px;
  }
}

table {
  border: 1px solid #707070;
  border-collapse: collapse;
}

table td {
  padding: 3px;
  width: 224px;
  height: 48px;
  border: 1px solid #707070;
  border-collapse: collapse;
}

table th {
  padding: 3px;
  width: 224px;
  height: 48px;
  border: 1px solid #707070;
  border-collapse: collapse;
}

.ro {
  width: 160px;
  background: #999999;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}

.co {
  background: #999999;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}

.tx {
  background: #FFFFFF;
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}

.price-text {
  padding-top: 30px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}
