#main {
  color: blue;
}

#main p {
  font-size: 14px;
}

.label {
  font-size: 14px;
  border-radius: 10px;
}

.msg, .error, .wrrnig {
  font-size: 12px;
  font-weight: bold;
  padding: 0 0;
  color: white;
}

.error {
  background-color: red;
}

.wrrnig {
  background-color: yellow;
}
